<script>

(function() {

  const images = [
    {% for data in page.images %}
    {
      url: `{{ data.url }}`,
      description: `{{ data.description }}`,
      caption: `{{ data.caption }}`
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]

  // https://stackoverflow.com/questions/1527803/generating-random-whole-numbers-in-javascript-in-a-specific-range#1527820
  /**
   * Returns a random integer between min (inclusive) and max (inclusive)
   * Using Math.round() will give you a non-uniform distribution!
   */
  function getRandomInt(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min;
  }

  let randomNumbers = [];

  function getUniqueRandomNumber() {
    let unique;
  
    do {
      unique = getRandomInt(0, images.length - 1);
    } while (randomNumbers.includes(unique) && randomNumbers.length < images.length);

    if (!randomNumbers.includes(unique)) {
      randomNumbers.push(unique);
    }
  
    return unique;
  }

  (function() {
    const image = images[getUniqueRandomNumber()];
  
    document.querySelector("figure img").setAttribute("src", image.url);
    document.querySelector("figure img").setAttribute("alt", image.description);
  
    const photoCredit = document.querySelector("figcaption");
    if (photoCredit) {
      photoCredit.innerHTML = image.caption;
    }
  })();

  // (function() {
  //   const image = images[getUniqueRandomNumber()];
  //   document.querySelector(".go-see-art a > span:nth-of-type(1) img").setAttribute("src", image.url);
  // })();

  // (function() {
  //   const image = images[getUniqueRandomNumber()];
  //   document.querySelector(".go-see-art a > span:nth-of-type(2) img").setAttribute("src", image.url);
  // })();

  // (function() {
  //   const image = images[getUniqueRandomNumber()];
  //   document.querySelector(".go-see-art a > span:nth-of-type(3) img").setAttribute("src", image.url);
  // })();

})();

</script>
