

/* =Type
----------------------------------------------- */
:root {
  --major-third:    1.250;
  --golden-section: 1.618;
  --minor-seventh:  1.778;

  --type-scale:      calc(var(--major-third)    *  1em);
  --vertical-rhythm: calc(var(--golden-section) *  1em);
  --line-length:     calc(var(--golden-section) * 20em);
  --unitless-vertical-rhythm: var(--golden-section);

  --thin:       100;
  --light:      300;
  --normal:     400;
  --medium:     500;
  --semibold:   600;
  --bold:       700;
  --extra-bold: 800;
  --heavy:      900;
}

body {
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: var(--unitless-vertical-rhythm);
  font-size: 100%;
  font-size: calc(0.75em + 0.75vmin);
  margin: 0;
  padding: var(--vertical-rhythm);
  background: hsl(0, 0%, 99%);
  color: hsl(0, 0%, 10%);
}

@media (min-width: 40em) {
  body {
    padding: calc(var(--vertical-rhythm) * 2);
  }
}

h1, h2, h3, h4, h5, h6, p, ol, ul, dl, figure {
  margin-top:    calc(var(--vertical-rhythm) * 1/2);
  margin-bottom: calc(var(--vertical-rhythm) * 1/2);
  max-width:     var(--line-length);
}
main > nav ul {
  max-width: none;
}

h1, h2, h3, h4, h5, h6 {
  --font-size: 1em;
  /* --line-height: calc(var(--unitless-vertical-rhythm) / var(--font-size)); */
  --line-height: var(--golden-section);

  font-size:   var(--font-size);
  line-height: var(--line-height);

  margin-top:    calc(var(--line-height) * 1.0em);
  margin-bottom: 0;

  max-width: var(--line-length);
}

h1 {
  --font-size: 8vw;
  font-family: canada-type-gibson, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.125;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transform: skewY(-8deg);
  text-align: center;
}

h1 small {
  font-size: 0.5em;
  display: block;
  font-weight: var(--light);
}
h1 img {
  height: 0.75em;
  width: auto;
  vertical-align: -4%;
  display: inline-block;
}
h1 img + br {
  display: none;
}

h2 {
  --font-size: calc(var(--type-scale) * 2);
  font-weight: var(--light);
  line-height: 1.25;
}
h3 {
  --font-size: calc(var(--type-scale) * 1);
  font-weight: normal;
}
h2, h3 {
  font-size: 1.5em;
  line-height: 1.125;
}
h2 {
  font-weight: bold;
}
h4, h5, h6 {
  --font-size: 1em;
  font-style: italic;
  font-weight: normal;
}
h5, h6 {
  color: inherit;
}


/* TBD: Maybe replace this with some rules that maintain the image’s original aspect ratio? */
@supports (object-fit: contain) {
  img {
    max-width: 100%;
    object-fit: contain;
  }
}

img[data-aspect-ratio] {

}

.action a {
  display: inline-block;
  padding: 0.375em 0.75em;
  border-radius: 0.25em;
  text-decoration: none;
}
.action ul,
.action li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.action ul {
  display: flex;
  flex-wrap: wrap;
  /*! align-items: stretch; */
}
.action li {
  margin: 0.375em;
  flex-grow: 1;
}

svg.icon {
  display: inline;
  width: 1em;
  height: 1em;
  margin-right: 0.375em;
  vertical-align: middle;
}

main > h2 + p,
main > h2 + h3 + p,
main > p:first-of-type {
  font-size: 1.25em;
  line-height: 1.618;
  font-weight: 300;
  /*! margin-bottom: 1.5rem; */
}
strong, b {
  font-weight: bold;
}

dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
dd + dt {
  margin-top: calc(var(--vertical-rhythm) * 1/2);
}

blockquote {
  margin-left: 0;
  margin-right: 0;
}

.go-see-art {
  max-width: none;
  grid-column: 1/-1;
}

.go-see-art a {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: calc(var(--vertical-rhythm) * 1);
  color: white;
  text-decoration: none;
}

.go-see-art a > span {
  display: grid;
}
.go-see-art a > span > * {
  grid-column: 1/-1;
  grid-row: 1/-1;
  align-self: stretch;
  justify-self: stretch;
}
.go-see-art a > span > span {
  
  align-self: center;
  justify-self: center;
  /*! color: white; */
  font-family: canada-type-gibson, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.125;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transform: skewY(-8deg);
  text-align: center;
  font-size: 5vw;
}

.go-see-art img {
  width: calc(var(--golden-section) * 5 * 1em);
  width: 100%;
  height: 100%;
  max-width: unset;
  height: unset;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}
