

/* =Color
----------------------------------------------- */
:root {
  --aqua:      hsl(175, 54%, 47%);
  --aqua-dark: hsl(175, 54%, 32%);
  --apple:     hsl(357, 100%, 63%);
  --midnight:  hsl(0, 0%, 10%);
  --snow:      hsl(0, 0%, 99%);
}

body {
  background-color: var(--snow);
  color: var(--midnight);
}

a {
  color: var(--aqua, gray);
  transition: color 0.2s, background-color 0.2s;
}
a:hover,
a:active,
a:focus {
  color: var(--aqua-dark);
}
.action a {
  background-color: var(--aqua, gray);
  color: var(--snow, white);
  /*! text-transform: uppercase; */
  padding: calc(var(--vertical-rhythm) * 1/2) calc(var(--vertical-rhythm) * 1);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-size: 1.125em;
  display: block;
  text-align: center;
}
.action a:hover,
.action a:active,
.action a:focus {
  background-color: var(--aqua-dark, black);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--aqua, gray);
}

/*
.welcome {
  background-color: var(--aqua, black);
  color: white;
  padding: calc(var(--vertical-rhythm) * 1) calc(var(--vertical-rhythm));
}
.welcome > *:first-child {
  margin-top: 0;
}
.welcome > *:last-child {
  margin-bottom: 0;
}
*/
