

/* =Footer
----------------------------------------------- */


footer h2 {
  --font-size: inherit;
  font-family: canada-type-gibson, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.125;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  /*! font-size: 0.5em; */
  /*! display: block; */
  font-weight: var(--semibold);
  margin-bottom: calc(var(--vertical-rhythm) * 1);
}

footer {
  padding: var(--vertical-rhythm);
}

@media (min-width: 40em) {
  footer {
    padding: calc(var(--vertical-rhythm) * 2) calc(var(--vertical-rhythm) * 3);
  }
}


footer {
  background-color: var(--primary-color, gray);
  color: var(--snow);
  /*! margin: var(--vertical-rhythm); */
}


@media (min-width: 50em) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: calc(var(--vertical-rhythm) * 2);
  }
}

@media (min-width: 80em) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: calc(var(--vertical-rhythm) * 2);
  }
}

footer h2,
footer a {
  color: inherit;
}

footer h2 {
  /*! font-weight: var(--semibold); */
}

/* Line the footer social links up in a row */
footer dt,
footer dd {
  margin-left: 0;
  padding-left: 0;
}
footer dt {
  /*! margin-top: calc(var(--vertical-rhythm) * 1/2); */
  font-weight: inherit;
  /*! line-height: calc(var(--vertical-rhythm) * 3/4); */
}

footer .social dt {
  margin-bottom: calc(var(--vertical-rhythm) * 1/4);
}

footer dd {
  display: inline-block;
  margin-right: calc(var(--vertical-rhythm) * 1/4);
  /*! margin-bottom: calc(var(--vertical-rhythm) * 1/4); */
}
footer dd a {
  background-color: white;
  border-radius: 50%;
  color: var(--primary-color, gray);
  display: inline-block;
  padding: calc(var(--vertical-rhythm) * 1/5);
}
footer svg {
  display: block;
  font-size: 1.25em;
  width: calc(var(--vertical-rhythm) * 1/2);
  height: calc(var(--vertical-rhythm) * 1/2);
}

/* Make venue icons look a little nicer */
footer .locations {
  margin-left: 2em;
}
footer .locations img {
  position: absolute;
  transform: translateX(-100%);
  margin-left: -0.5em;
}
footer .locations img + br {
  display: none;
}

footer .artsamo {
  grid-column: 1/-1;
  justify-self: center;
  text-align: center;
}
footer .artsamo p {
  max-width: none;
}
