
header h2 {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}
header h2 a {
  display: inline-block;
  text-decoration: none;
  background-color: var(--aqua, gray);
  color: var(--snow, white);
  padding: calc(var(--vertical-rhythm) * 1) calc(var(--vertical-rhythm) * 1);
  text-transform: uppercase;
  max-width: 14em;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-size: 1.25em;
  align-self: stretch;
  display: flex;
  /*! align-content: center; */
  /*! justify-content: center; */
  align-items: center;
}
header h2 a:hover,
header h2 a:active,
header h2 a:focus {
  background-color: var(--aqua-dark, black);
  color: var(--snow, white);
}
header h2 img {
  margin-right: calc(var(--vertical-rhythm) * 0.5);
  width: auto;
  height: calc(var(--vertical-rhythm) * 1.5);
}
header ul,
header li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
header ul {
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media (min-width: 32.5em) and (max-width: 42.5em) {
  header ul {
/*     display: block; */
  }
}
header li a {
  color: inherit;
  display: inline-block;
  padding: calc(var(--vertical-rhythm) * 1/2) calc(var(--vertical-rhythm) * 1/2);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  /*! background: hsl(0, 0%, 95%); */
}

header {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: auto;
}
header ul {
  grid-row: 1 / 2;
}

@media (min-width: 42.5em) {
  header {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  header ul {
    grid-row: unset;
  }
}

header h2 {
  margin: 0;
  /*! display: grid; */
  /*! max-width: 19.5em; */
  /*! margin-right: 6rem; */
  align-self: end;
}

header ul {
  justify-self: stretch;
  padding: calc(var(--vertical-rhythm) * 1) calc(var(--vertical-rhythm) * 1.5);
  margin: 0;
  /*! background: white; */
  align-self: start;
  margin-bottom: calc(var(--vertical-rhythm) * 1);
  max-width: unset;
}

@media (max-width: 42.5em) {
  header ul {
    padding-top: calc(var(--vertical-rhythm) * 0.5);
    padding-bottom: calc(var(--vertical-rhythm) * 0.5);
    margin-bottom: 0;
    padding-top: 1.5em;
  }
  header li {
    margin-top: -0.75em;
  }
}

header li {
  align-self: flex-end;
  justify-self: flex-end;
/*   margin-bottom: 0.375em; */
}


/* 
@media (max-width: 45em) {
  header ul {
    position: absolute;
    top: 1.5rem;
    right: 0.75em;
    width: 10em;
    background: transparent;
    padding: 0;
  }
  header li a {
    background: hsl(0, 0%, 99%);
  }
}
@media (max-width: 25em) {
  header ul {
    top: 9.125rem;
  }
}
 */
