


header h2 {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}
header h2 a {
  display: inline-block;
  text-decoration: none;
  background-color: var(--primary-color, gray);
  color: var(--snow, white);
  padding: calc(var(--vertical-rhythm) * 1) calc(var(--vertical-rhythm) * 1.5);
  text-transform: uppercase;
  max-width: 10.75em;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-size: 1.25em;
  align-self: stretch;
  display: flex;
  /*! align-content: center; */
  /*! justify-content: center; */
  align-items: center;
  justify-self: stretch;
  /*! font-variant: small-caps; */
}
header h2 a:hover,
header h2 a:active,
header h2 a:focus {
  background-color: var(--primary-color-dark, black);
  color: var(--snow, white);
}
header h2 img {
  margin-right: calc(var(--vertical-rhythm) * 0.5);
  width: auto;
  height: calc(var(--vertical-rhythm) * 1.5);
}
header ul,
header li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
header ul {
  /*! text-align: left; */
  flex-wrap: wrap;
  justify-content: flex-end;
  /*! align-items: flex-start; */
  /*! justify-items: center; */
  /*! align-content: flex-start; */
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 50em) {
  header ul {
    /*! display: flex; */
  }
}
@media (min-width: 32.5em) and (max-width: 42.5em) {
  header ul {
/*     display: block; */
  }
}
header li a {
  color: var(--aqua);
  display: block;
  padding: calc(var(--vertical-rhythm) * 1/4) calc(var(--vertical-rhythm) * 2/4);
  text-decoration: none;
/*   text-transform: uppercase; */
  font-weight: 400;
  /* letter-spacing: 0.1em; */
/*   background-color: hsl(0, 0%, 95%); */
  /*! display: block; */
  /*! text-align: center; */
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.2em;
  white-space: nowrap;
  font-family: canada-type-gibson, sans-serif;
  font-weight: 500;
  line-height: 1;
  font-size: 1.125em;
  color: var(--color);
  border-right: 0.25em solid hsl(0, 0%, 95%);
}
header h3:nth-of-type(1) a,
header ul:nth-of-type(1) a {
  --color: var(--aqua);
}
header h3:nth-of-type(2) a,
header ul:nth-of-type(2) a {
  --color: var(--sky);
  --color: hsl(204, 86%, 39%);
}
header h3:nth-of-type(3) a,
header ul:nth-of-type(3) a {
  --color: var(--orange);
}

header li a.active {
  border-color: var(--color);
}
header li a:hover,
header li a:active,
header li a:focus {
  text-decoration: underline;
}


header li a:hover,
header li a:active,
header li a:focus {
  color: var(--color);
}

header li img {
  height: calc(var(--vertical-rhythm) * 2);
  width: calc(var(--vertical-rhythm) * 2);
}

header {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: auto 1fr;
}
/* header ul {
  grid-row: 2 / 3;
} */

@media (min-width: 42.5em) {
  header {
    /*! display: grid; */
    grid-template-columns: auto 1fr;
  }
  header ul {
    grid-row: unset;
  }
}

header h2 {
  margin: 0;
  display: grid;
  /*! max-width: 19.5em; */
  /*! margin-right: 6rem; */
  align-self: end;
  grid-column: 1/2;
  /*! justify-self: stretch; */
  /*! margin-top: calc(var(--vertical-rhythm) * 1); */
  /*! display: grid; */
  position: relative;
  z-index: 1;
  grid-row: 1/2;
}

header ul {
  justify-self: stretch;
  /*! padding: calc(var(--vertical-rhythm) * 1) calc(var(--vertical-rhythm) * 1); */
  margin: 0;
  /*! background: white; */
  align-self: start;
  /*! margin-bottom: calc(var(--vertical-rhythm) * 1); */
  max-width: unset;
  /*! grid-column: 2/3; */
  /*! grid-row: 2/3; */
  /*! margin-top: calc(var(--vertical-rhythm) * 1); */
}

@media (max-width: 0em) {
  header ul {
    padding-top: calc(var(--vertical-rhythm) * 3);
    padding-bottom: calc(var(--vertical-rhythm) * 0.5);
    /*! margin-bottom: 0; */
    /*! padding-top: 1.5em; */
    margin-right: 0;
    padding-right: calc(var(--vertical-rhythm) * 0.5);
    padding-left: calc(var(--vertical-rhythm) * 0.5);
    /*! align-self: end; */
  }
  header li {
    /*! margin-top: -0.75em; */
  }
}

header ul {
  /*! display: grid; */
  grid-column-gap: calc(var(--vertical-rhythm) * 0.25);
  grid-row-gap: calc(var(--vertical-rhythm) * 0.25);
}

@media (min-width: 50em) and (max-width: 80em) {
  header li:nth-child(1),
  header li:nth-child(2),
  header li:nth-child(3) {
    grid-column: 1/2;
  }
  header li:nth-child(4),
  header li:nth-child(5),
  header li:nth-child(6) {
    grid-column: 2/3;
  }
  header li:nth-child(4) {
    grid-row: 1/2;
  }
  header li:nth-child(5) {
    grid-row: 2/3;
  }
  header li:nth-child(6) {
    grid-row: 3/4;
  }
}

@media (min-width: 80em) {
  header ul {
    grid-template-columns: repeat(6, auto);
  }
}

header nav {
  display: grid;
  padding: calc(var(--vertical-rhythm) * 4/4) calc(var(--vertical-rhythm) * 5/4) calc(var(--vertical-rhythm) * 4/4) calc(var(--vertical-rhythm) * 5/4);
  margin-bottom: calc(var(--vertical-rhythm) * 1);
  grid-column-gap: calc(var(--vertical-rhythm) * 4/4);
  align-self: end;
  justify-self: start;
  text-align: right;
  grid-row: 1/-1;
  grid-column: 2/-1;
}

@media (min-width: 50em) and (min-height: 50em) {
  header nav {
    font-size: 2.25vmin;
    grid-column-gap: calc(var(--vertical-rhythm) * 7/4);
    padding: calc(var(--vertical-rhythm) * 6/4)
             calc(var(--vertical-rhythm) * 7/4)
             calc(var(--vertical-rhythm) * 6/4)
             calc(var(--vertical-rhythm) * 7/4);
  }
}

header nav ul {
  padding: 0;
  /*! margin-top: calc(var(--vertical-rhythm) * 1/4); */
  /*! margin-bottom: calc(var(--vertical-rhythm) * 1/4); */
}


@media (max-width: 42.5em) {
  header nav {
    padding-top: 0;
    /*! grid-template-columns: repeat( auto-fit, auto ); */
  }
  header nav h3 {
    margin-top: calc(var(--vertical-rhythm) * 4/4);
  }
}
@media (min-width: 30em) and (max-width: 42.5em) {
  header nav h3:nth-of-type(1),
  header nav h3:nth-of-type(2) {
    grid-row: 1/2;
  }
  header nav ul:nth-of-type(1),
  header nav ul:nth-of-type(2) {
    grid-row: 2/3;
  }
  header nav h3:nth-of-type(3),
  header nav h3:nth-of-type(4) {
    grid-row: 3/4;
  }
  header nav ul:nth-of-type(3),
  header nav ul:nth-of-type(4) {
    grid-row: 4/5;
  }
}

@media (min-width: 42.5em) {
  header nav {
    /*! grid-template-columns: repeat( auto-fit, auto ); */
  }
  header nav h3 {
    grid-row: 1/2;
  }
  header nav ul {
    grid-row: 2/3;
  }
}

header h3 {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  /* text-transform: lowercase;
  font-weight: var(--light);
  letter-spacing: 0.2em;
  white-space: nowrap;
  opacity: 1;
  font-variant: small-caps; */
  /*! padding-top: calc(var(--vertical-rhythm) * 1); */
  /*! border-top: 1px solid hsla(0, 0%, 0%, 0.1); */
  /*! padding-top: calc(var(--vertical-rhythm) * 1/4); */
}
header h3 a {
  text-decoration: none;
  color: inherit;
  padding: calc(var(--vertical-rhythm) * 1/4) calc(var(--vertical-rhythm) * 2/4);
  display: block;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.2em;
  white-space: nowrap;
  font-family: canada-type-gibson, sans-serif;
  font-weight: 500;
  font-size: ;
  line-height: 1;
  font-size: 1.125em;
  border-right: 0.25em solid hsl(0, 0%, 95%);
  /*! border-radius: 0.25em; */
}
header h3 a.active {
  border-color: var(--color);
}
header h3 a:hover,
header h3 a:active,
header h3 a:focus {
  text-decoration: underline;
}

header li {
  /*! align-self: flex-end; */
  /*! justify-self: flex-end; */
/*   margin-bottom: 0.375em; */
}

header .city {
  grid-row: 1/-1;
  grid-column: 1/-1;
  margin: 0;
  /*! background-color: hsla(0, 0%, 0%, 0.1); */
  max-width: none;
  /*! text-align: right; */
  align-self: end;
  /* justify-self: end; */
  /*! writing-mode: vertical-lr; */
  /*! position: absolute; */
  /*! top: 100vh; */
  /*! transform: translateY(-100%); */
  left: 0;
  white-space: nowrap;
  z-index: 1;
  text-align: right;
  align-self: start;
  /*! background: red; */
  justify-self: end;
  margin-left: auto; /* For Safari */
}

@media (max-width: 90em) {
  header nav {
    margin-top: calc(var(--vertical-rhythm) * 3);
  }
}

header .city a {
  color: inherit;
  display: block;
  padding: calc(var(--vertical-rhythm) * 0.5) calc(var(--vertical-rhythm) * 1) calc(var(--vertical-rhythm) * 0.5) calc(var(--vertical-rhythm) * 0.5);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  background-color: hsl(204, 86%, 39%);
  display: inline-flex;
  align-items: center;
  /*! opacity: 0.5; */
  /* transform: rotate(180deg); */
  color: white;
}
header .city a:hover,
header .city a:active,
header .city a:focus {
  /* opacity: 1; */
  background-color: hsl(204, 76%, 29%);
}
header .city a img {
  /* vertical-align: -65%; */
  margin-right: 1em;
  /*! margin-bottom: 1em; */
  height: calc(var(--vertical-rhythm) * 1.5);
  width: calc(var(--vertical-rhythm) * 1.5);
}

header .city a span {
  /*! transform: rotate(180deg); */
}

@media (max-width: 60em) {
  header h2 {
    margin-top: calc(var(--vertical-rhythm) * 1);
  }
  header h2 a {
    writing-mode: vertical-rl;
    max-height: 12em;
    transform: rotate(180deg);
    padding: calc(var(--vertical-rhythm) * 1) calc(var(--vertical-rhythm) * 0.5);
  }
}

/* 
@media (max-width: 45em) {
  header ul {
    position: absolute;
    top: 1.5rem;
    right: 0.75em;
    width: 10em;
    background: transparent;
    padding: 0;
  }
  header li a {
    background: hsl(0, 0%, 99%);
  }
}
@media (max-width: 25em) {
  header ul {
    top: 9.125rem;
  }
}
 */
