
header h2 {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}
header h2 a {
  display: inline-block;
  text-decoration: none;
  background-color: var(--aqua, gray);
  color: var(--snow, white);
  padding: var(--vertical-rhythm) calc(var(--vertical-rhythm) * 1.5);
  text-transform: uppercase;
  max-width: 10.5em;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-size: 1.25em;
}
header h2 a:hover,
header h2 a:active,
header h2 a:focus {
  background-color: var(--aqua-dark, black);
  color: var(--snow, white);
}
header ul,
header li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
header ul {
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
@media (min-width: 32.5em) and (max-width: 42.5em) {
  header ul {
    display: block;
  }
}
header li a {
  color: inherit;
  display: inline-block;
  padding: calc(var(--vertical-rhythm) * 1/2) calc(var(--vertical-rhythm) * 1/2);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
}

header {
  position: relative;
  z-index: 1;
}

@media (min-width: 32.5em) {
  header {
    display: grid;
    grid-template-columns: max-content 1fr;
  }
}

header h2 {
  margin: 0;
}

header ul {
  justify-self: stretch;
  padding: calc(var(--vertical-rhythm) * 1/2) var(--vertical-rhythm);
  margin: 0;
  background: white;
  align-self: start;
  /*! margin-bottom: calc(var(--vertical-rhythm) * 1); */
  max-width: unset;
}
header li {
  align-self: flex-end;
  justify-self: flex-end;
}

body > p,
footer {
  padding: var(--vertical-rhythm);
}
