

/* =Figure
----------------------------------------------- */
main > h1 + figure,
main > figure:first-child {
  margin-left: unset;
  margin-right: unset;
  max-width: unset;
}
main > h1 + figure,
main > figure:first-child {
  display: grid;
  /*! overflow: hidden; */
  background: hsl(0, 0%, 0%);
  margin-bottom: 0;
}
@media (min-width: 10em) {
  main > h1 + figure,
  main > figure:first-child {
    grid-row: 1/2;
    grid-column: 1/-1;
  }
}
@media (min-width: 19em) { /* wide enough for the menu items to fit on one line*/
  main > figure:first-child {
    margin-top: calc(var(--vertical-rhythm) * -2);
    overflow: hidden;
  }
}
main > h1 + figure > *,
main > figure:first-child > * {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}
main > h1 + figure img,
main > figure:first-child img {
  width: 100%;
  height: 100%;
  height: calc(100vh - calc(var(--vertical-rhythm) * 4 * 1.25));
  object-fit: cover;
  object-position: center;
  min-height: 33.333vw;
  opacity: 0.75;
}
@media (max-aspect-ratio: 1/1) {
  main > h1 + figure img,
  main > figure:first-child img {
    height: calc(100vw - 3em);
    /*! min-height: 100%; */
  }
}
main > h1 + figure img[src*="samba"],
main > figure:first-child img[src*="samba"] {
  object-position: 10% 50%;
}
main > h1 + figure img[src*="colibri"],
main > figure:first-child img[src*="colibri"] {
  object-position: 85%;
}
main > figure:first-child img[src*="svg"] {
  object-fit: contain;
  /*! object-position: bottom; */
  transform: scale(1.05);
  opacity: 1;
}
main > figure:first-child img[src*="jpg"] {
  /*! transform: scale(1.4) translate(0, 20%); */
}
main > h1 + figure figcaption,
main > figure:first-child figcaption {
  /*! position: relative; */
  /*! z-index: 1; */
  justify-self: end;
  /*! color: white; */
  align-self: end;
  padding: 0 calc(6vmax * 1.125 * 0.25);
  line-height: calc(6vmax * 0.675);
  /*! text-shadow: 0 0 2em hsl(0, 0%, 0%); */
  background: white;
  font-size: 0.875em;
}
@media (max-width: 50em) {
  main > h1 + figure figcaption,
  main > figure:first-child figcaption {
    /*! writing-mode: vertical-rl; */
    /*! line-height: 1; */
    /*! padding: 3rem 1.5rem 1.5rem 1.5rem; */
    /*! align-self: start; */
    /*! justify-self: start; */
  }
}
main > h1 + figure figcaption a,
main > figure:first-child figcaption a {
  color: inherit;
}



/* =Layout
----------------------------------------------- */
body {
  margin: 0;
  padding: 0;
}

main {
  padding: var(--vertical-rhythm) var(--vertical-rhythm) calc(var(--vertical-rhythm) * 2);
}

@media (min-width: 40em) {
  main {
    padding: var(--vertical-rhythm) var(--vertical-rhythm) calc(var(--vertical-rhythm) * 3);
  }
}

main > *:first-child {
  margin-top: 0;
}

main > h1 {
  margin-bottom: 0.75em;
}

main > h1,
main > h1:first-child {
  margin-top: 0.75em;
}

@media (min-width: 10em) {
  main > h1:first-of-type {
    padding: 0.25em 0.375em;
  }
}
@supports (display: grid) {
  main > figure + h1:first-of-type {
    grid-row: 1/2;
    grid-column: 1/-1;
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
  }
  @media (min-width: 10em) { /* @wide-enough-for-header-grid */
    main > figure + h1:first-of-type {
      margin: 0;
      /*! margin-top: -2.375em; */
      /*! background-color: white; */
      position: relative;
/*       display: table; */
      color: white;
      /*! position: absolute; */
      /*! z-index: 1; */
      grid-row: 1/2;
      grid-column: 1/-1;
      position: relative;
      z-index: 1;
      /*! height: 0; */
      /*! justify-self: end; */
      align-self: center;
      margin-bottom: 0;
      /*text-shadow: 0 0 1em rgba(0, 0, 0, 1);*/
      /*! background: gray; */
    }
  }
}

/* 
@media (min-width: 50em) {
  main {
    margin-top: calc(var(--vertical-rhythm) * -2);
  }
  header {
    position: relative;
    z-index: 1;
  }
} */

/*
header ul,
header li {
list-style: none;
margin-left: 0;
padding-left: 0;
}
header ul {
display: flex;
}
header li a {
padding: 0.75em;
text-decoration: none;
color: inherit;
text-transform: uppercase;
font-weight: 500;
}
header li a:hover,
header li a:active,
header li a:focus {
color: rgb(56, 186, 176);
text-decoration: underline;
}

.logotype {
display: grid;
grid-template-columns: 2fr 1fr 1fr 1fr;
grid-column-gap: 2em;
align-items: center;
background-color: rgb(56, 186, 176);
color: white;
padding: 1.5em 0;
text-decoration: none;
}
.logotype:hover,
.logotype:active,
.logotype:focus {
text-decoration: underline;
}
.logotype h2,
.logotype h3 {
margin: 0;
}
.logotype h2 {
font-size: inherit;
grid-column: 1/2;
}
.logotype h3 {
font-size: 1.25em;
font-weight: 400;
text-transform: uppercase;
line-height: 1.25;
grid-column: 2/-1;
}
.logotype img {
display: block;
width: calc(100% - 2em);
margin-left: 2em;
height: auto;
}

header,
main,
footer {
display: grid;
grid-template-columns: 2fr repeat(12, 1fr) 2fr;
grid-column-gap: 2em;
}
main > *,
footer > * {
grid-column: 2/-2;
max-width: 33em;
}
footer {
padding-bottom: 3em;
}

.logotype {
grid-column: 1/5;
}
header ul {
margin-top: 3em;
grid-column: 5/-2;
justify-self: end;
}
*/

