

  /* =Layout
  ----------------------------------------------- */
  body {
    margin: 0;
    padding: 0;
  }


  header ul,
  header li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  header ul {
    display: flex;
  }
  header li a {
    padding: 0.75em;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 500;
  }
  header li a:hover,
  header li a:active,
  header li a:focus {
    color: rgb(56, 186, 176);
  }

  .logotype {
    display: flex;
    align-items: center;
    background-color: rgb(56, 186, 176);
    color: white;
    padding: 1.5em;
    text-decoration: none;
  }
  .logotype h2,
  .logotype h3 {
    margin: 0;
  }
  .logotype h2 {
    margin-right: 1.5em;
    font-size: inherit;
  }
  .logotype h3 {
    font-size: 1.25em;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.25;
  }
  .logotype img {
    display: block;
    width: 5em;
    height: 5em;
  }

  header,
  main {
  	display: grid;
  	grid-template-columns: 2fr repeat(12, 4em) 2fr;
  	grid-column-gap: 2em;
  }
  main > * {
  	grid-column: 2/-2;
  	max-width: 33em;
  }

  .logotype {
    grid-column: 1/5;
  }
  header ul {
    margin-top: 3em;
    grid-column: 5/-2;
    justify-self: end;
  }

