@supports(object-fit: cover) {
  .detail-home-page .hero img {
    height: 500px;
    object-fit: cover;
  }
}

@media screen and (min-width: 58.75em) {
  .detail-home-page .hero .welcome {
    margin-top: -200px;
    margin-left: auto;
    position: relative;
    z-index: 1;
    top: 0;
  }
}

.detail-home-page .artist {
  background-size: cover;
  background-position: bottom;
}
 
.widget-artsamo img {
  width: 433px;
  height: 284px;

  /* For small screens */
  max-width: 100%;
  height: auto;
}
