@supports(object-fit: cover) {
  .detail-home-page .hero img {
    height: 500px;
    object-fit: cover;
  }
}

.detail-home-page .artist {
  background-size: cover;
  background-position: bottom;
}
 
.widget-artsamo img {
  width: 433px;
  height: 284px;

  /* For small screens */
  max-width: 100%;
  height: auto;
}
