

/* =Subscribe
----------------------------------------------- */

.subscribe {
  padding: var(--vertical-rhythm);
  /* margin: var(--vertical-rhythm); 
  */
}

@media (min-width: 40em) {
  .subscribe {
    padding: calc(var(--vertical-rhythm) * 3) calc(var(--vertical-rhythm) * 3);
  }
}

.subscribe {
  background-color: var(--apple);
  color: var(--snow);
  background-image: url(/uploads/ATTN_artists.png);
  background-size: cover;
  background-position: bottom;
}

.subscribe h2,
.subscribe a {
  color: inherit;
}

.subscribe h2 {
  font-weight: var(--semibold);
  margin-top: 0;
}
.subscribe p {
  margin-bottom: 0;
}

.subscribe label span {
  font-size: 0;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}
.subscribe label br {
  display: none;
}
.subscribe input[type="email"] {
  margin-right: 0.5em;
  margin-bottom: 1em;
  width: 100%;
  max-width: 20em;
  box-sizing: border-box;
}

button,
input[type="email"],
input[type="text"] {
  border-width: 0;
  padding: calc(var(--vertical-rhythm) * 1/4) calc(var(--vertical-rhythm) * 1);
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  background-color: var(--snow);
  color: var(--midnight);
  border-radius: calc(var(--vertical-rhythm) * 1);
}


/* .subscribe {
  text-align: center;
} */
/* .subscribe p {
  max-width: 33rem !important;
  margin-left: auto;
  margin-right: auto;
} */
.subscribe h1 {
  margin-bottom: 0.375em;
  margin-top: 0.375em;
  color: inherit;
  transform: none;
  text-align: left;
  max-width: none;
}
.subscribe h1 small {
  font-weight: inherit;
  font-size: inherit;
}

.subscribe p:first-of-type {
  max-width: 36em;
}

/* These rules are duplicated in grid.css */

@supports (display: grid) {
  .subscribe {
    display: grid;
  }
  @media (min-width: 40em) {
    .subscribe {
      grid-template-columns: calc(var(--vertical-rhythm) * 2) 1fr calc(var(--vertical-rhythm) * 2);
    }
    .subscribe > * {
      grid-column: 2 / 3;
    }
    .subscribe > h1 {
      grid-column: 2/3;
    }
  }
  @media (min-width: 70em) { /* @wide-enough-for-header-grid */
    .subscribe {
      grid-template-columns: auto max-content auto;
      grid-column-gap: 3em;
      grid-row-gap: 1.5em;
      align-items: start;
      padding-left: var(--vertical-rhythm);
      padding-right: var(--vertical-rhythm);
    }

    .subscribe > p {
      margin: 0;
      max-width: none;
      grid-column: 2 / 3;
    }
  }
}




