

/* =Subscribe
----------------------------------------------- */

.subscribe {
  padding: var(--vertical-rhythm);
}

@media (min-width: 40em) {
  .subscribe {
    padding: calc(var(--vertical-rhythm) * 3) calc(var(--vertical-rhythm) * 3);
  }
}

.subscribe {
  background-color: var(--apple);
  color: var(--snow);
  background-image: url(/uploads/ATTN_artists.png);
  background-size: cover;
  background-position: bottom;
}

.subscribe h2,
.subscribe a {
  color: inherit;
}

.subscribe h2 {
  font-weight: var(--semibold);
  margin-top: 0;
}
.subscribe p {
  margin-bottom: 0;
}

.subscribe label span {
  font-size: 0;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}
.subscribe label br {
  display: none;
}
.subscribe input[type="email"] {
  margin-right: 0.5em;
}

button,
input[type="email"],
input[type="text"] {
  border-width: 0;
  padding: calc(var(--vertical-rhythm) * 1/4) calc(var(--vertical-rhythm) * 1);
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  background-color: var(--snow);
  color: var(--midnight);
  border-radius: calc(var(--vertical-rhythm) * 1);
}





/* These rules are duplicated in grid.css */

@supports (display: grid) {
  .subscribe {
    display: grid;
  }
  @media (min-width: 40em) {
    .subscribe {
      grid-template-columns: calc(var(--vertical-rhythm) * 2) 1fr calc(var(--vertical-rhythm) * 2);
    }
    .subscribe > * {
      grid-column: 2 / 3;
    }
  }
  @media (min-width: 70em) { /* @wide-enough-for-header-grid */
    .subscribe {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 3em;
      grid-row-gap: 1.5em;
      align-items: start;
      padding-left: var(--vertical-rhythm);
      padding-right: var(--vertical-rhythm);
    }

    .subscribe > h2 {
      margin: 0;
      grid-column: 1 / 2;
      justify-self: end;
      text-align: right;
    }
    .subscribe > h2 {
      font-size: 1.5em;
      line-height: 1.125;
      max-width: 17.5em;
      grid-row: span 2;
    }
    .subscribe > h2 {
      font-weight: var(--bold);
    }
    .subscribe > p {
      margin: 0;
      grid-column: 2 / -1;
    }
  }
}




