

  /* =Type
  ----------------------------------------------- */
  :root {
    --unitless-line-height: 1.5;
    --line-height: 1.5em;
  }

  body {
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: var(--unitless-line-height);
    font-size: 100%;
    font-size: calc(0.75em + 0.75vmin);
    margin: 0;
    padding: var(--line-height);
  }

  @media (min-width: 40em) {
    body {
      padding: calc(var(--line-height) * 2);
    }
  }

  /*
  h1, h2, h3, h4, h5, h6, ol, ul, dl, p {
    max-width: 33rem;
  }
  */

  /* TBD: Maybe replace this with some rules that maintain the image’s original aspect ratio? */
  @supports (object-fit: contain) {
    img {
      max-width: 100%;
      object-fit: contain;
    }
  }

  img[data-aspect-ratio] {
    
  }

  .action a {
    display: inline-block;
    padding: 0.375em 0.75em;
    border-radius: 0.25em;
    text-decoration: none;
  }
  .action ul,
  .action li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .action ul {
    display: flex;
    flex-wrap: wrap;
  }
  .action li {
    margin: 0.375em;
  }

  svg.icon {
    display: inline;
    width: 1em;
    height: 1em;
    margin-right: 0.375em;
    vertical-align: middle;
  }

  /* img {
    max-width: 100%;
    height: auto;
  } */

  /*
  body {
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 100%;
    font-size: calc(0.75em + 0.75vmin);
    margin: 0;
    padding: 1.5em;
  }

  p, ol, ul, dl, table {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 3rem;
    margin-bottom: 0.75rem;
  }

  h1 {
    font-size: 5.063em;
    line-height: calc(6em / 5.063em);
  }

  h2 {
    font-size: 2.25em;
    line-height: calc(3em / 2.25em);
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 1em;
    font-weight: 500;
    font-style: italic;
  }

  h6 {
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
  }
  */


