<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% capture title %}{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}{% endcapture %}
  <title>{{ title }}{% unless title contains site.title %} / {{ site.title }}{% endunless %}</title>

  <!-- Jim’s Typekit account -->
  <link rel="stylesheet" href="https://use.typekit.net/bwp8iid.css" />
  
  <!-- <link rel="stylesheet" href="/assets/css/shared.css?v={{ site.version }}" /> -->

  {% if page.stylesheets %}
    {% assign stylesheets = page.stylesheets %}
  {% elsif layout.stylesheets %}
    {% assign stylesheets = layout.stylesheets %}
  {% endif %}
  {% for url in stylesheets %}
  <link rel="stylesheet" href="{{ url }}?v={{ site.version }}" />
  {% endfor %}

  <link href="https://www.santamonica.gov/Themes/CSM.BootstrapBase/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

  <link rel="stylesheet" href="/assets/css/type.css?v={{ site.version }}" />
  <link rel="stylesheet" href="/assets/css/color.css?v={{ site.version }}" />
  <link rel="stylesheet" href="/assets/css/layout.css?v={{ site.version }}" />
  <link rel="stylesheet" href="/assets/css/grid.css?v={{ site.version }}" />
  <link rel="stylesheet" href="/assets/css/header.css?v={{ site.version }}" />
  <link rel="stylesheet" href="/assets/css/footer.css?v={{ site.version }}" />
  <link rel="stylesheet" href="/assets/css/subscribe.css?v={{ site.version }}" />
  <link rel="stylesheet" href="/assets/css/artists.css?v={{ site.version }}" />
  <link rel="stylesheet" href="/assets/css/events.css?v={{ site.version }}" />
  <link rel="stylesheet" href="/assets/css/featured-events.css?v={{ site.version }}" />
  <link rel="stylesheet" href="/assets/css/image-quote.css?v={{ site.version }}" />
  <link rel="stylesheet" href="/assets/css/table.css?v={{ site.version }}" />
  <link rel="stylesheet" href="/assets/css/venues.css?v={{ site.version }}" />

  <!-- TEMPORARY (until the new website is live) -->
  <link rel="canonical" href="https://www.santamonica.gov/" />
  <script>
    window.addEventListener("DOMContentLoaded", function() {
      var notice = document.createElement("p")
      notice.style.marginTop = "12em"
      notice.style.gridColumn = "1/-1"
      notice.style.textAlign = "center"
      notice.style.justifySelf = "center"
      notice.role = "status"
      notice.innerHTML = "<mark>This website is a design preview and may not have accurate information. Please visit the official <a href='https://www.santamonica.gov/arts/'>City of Santa Monica website</a>.</mark>"
      document.querySelector("body > footer").appendChild(notice)
    })
  </script>
  <meta name="robots" content="noindex">
  <script>
    window.addEventListener("DOMContentLoaded", function() {
      if (document.querySelector("meta[content='noindex']"))
      var notice = document.createElement("p")
      notice.style.marginBottom = "12em"
      notice.style.gridColumn = "1/-1"
      notice.style.textAlign = "center"
      notice.style.justifySelf = "center"
      notice.role = "status"
      notice.innerHTML = "<mark><em>This page contains a noindex meta element and won’t be indexed by search engines.</em></mark>"
      document.querySelector("body > footer").appendChild(notice)
    })
  </script>

</head>
<body>

<header>
  <h2>
    <a href="/">
      <!--
      <img src="/assets/images/city-logo.svg" height="50" alt="" onclick="event.preventDefault(); window.location = 'https://www.santamonica.gov/'" />
      -->
      Santa Monica Cultural Affairs
    </a>
  </h2>
  <nav>
    <h3><a href="/"{% if page.url == '/' %}        class="active" {% endif %}>Go See Art</a></h3>
    <ul>
      <li><a href="/events/"     {% if page.url == '/events/' %}        class="active" {% endif %}>Events</a></li>
      <li class="nav-item-with-venues">
        <a href="/venues/"     {% if page.url == '/venues/' %}        class="active" {% endif %}>Venues</a>
        <ul {% if page.url == '/miles-memorial-playhouse/'
               or page.url == '/beach-culture/'
               or page.url == '/camera-obscura-art-lab/' %} class="active" {% endif %}>
          <li>
            <a href="/miles-memorial-playhouse/">
              <img src="/assets/images/icon-miles-playhouse.png" height="25" alt="Miles Memorial Playhouse" />
            </a>
          </li>
          <li>
            <a href="https://www.smgov.net/departments/ccs/civicauditorium/">
              <img src="/assets/images/icon-civic-auditorium.png" height="25" alt="Santa Monica Civic Auditorium" />
            </a>
          </li>
          <li>
            <a href="/beach-culture/">
              <img src="/assets/images/icon-beachhouse.png" height="25" alt="Beach=Culture at Annenberg Community Beach House" />
            </a>
          </li>
          <li>
            <a href="/camera-obscura-art-lab/">
              <img src="/assets/images/icon-camera-obscura.png" height="25" alt="amera Obscura Art Lab" />
            </a>
          </li>
        </ul>
      </li>
      <li><a href="/public-art/" {% if page.url == '/public-art/' %}    class="active" {% endif %}>Public Art</a></li>
    </ul>
    <h3><a href="/opportunities/" {% if page.url == '/opportunities/' %} class="active" {% endif %}>Opportunities</a></h3>
    <ul>
      <li><a href="/for-artists/"       {% if page.url == '/for-artists/' %}         class="active" {% endif %}>For Artists</a></li>
      <li><a href="/for-organizations/" {% if page.url == '/for-organizations/' %}         class="active" {% endif %}>For Organizations</a></li>
    </ul>
    <h3><a href="/about/" {% if page.url == '/about/' %}         class="active" {% endif %}>About</a></h3>
    <ul>
      <li><a href="/contact/" {% if page.url == '/contact/' %}       class="active" {% endif %}>Contact</a></li>
    </ul>
  </nav>
  {% comment %}
    <h3>Search</h3>
    <form role="search" action="https://duckduckgo.com/" method="get">
      <input type="hidden" name="sites" value="santamonica.gov">
      <p>
        <label>
          <span>Keywords</span>
          <input type="search" name="q">
        </label>
        <button type="submit">Search</button>
      </p>
    </form>
  {% endcomment %}
  <p class="city">
    <a href="https://www.santamonica.gov/">
      <img src="/assets/images/city-logo-white.svg" height="50" alt="" />
      <span>City of Santa Monica</span>
    </a>
  </p>
</header>


<main>
  {{ content }}
</main>

{% include subscribe.markdown %}

<footer>

  {% capture myInclude %}{% include contact.markdown %}{% endcapture %}
  {{ myInclude | markdownify }}

  <section>
    <h3><a href="/miles-memorial-playhouse/">Miles Memorial Playhouse</a></h3>
    <ul>
      <li><a href="/miles-memorial-playhouse/#getting-here">Getting Here</a></li>
      <li><a href="/miles-memorial-playhouse/events/">Events</a></li>
      <li><a href="/miles-memorial-playhouse/rental/">Theater Rental</a></li>
    </ul>
  </section>
  <section>
    <h3><a href="/camera-obscura-art-lab/">Camera Obscura Art Lab</a></h3>
    <ul>
      <li><a href="/camera-obscura-art-lab/#getting-here">Getting Here</a></li>
      <li><a href="/camera-obscura-art-lab/events/">Events</a></li>
      <li><a href="/camera-obscura-art-lab/artists/">Artists</a></li>
    </ul>
  </section>
  <section>
    <h3><a href="/beach-culture/" aria-label="Beach Culture">Beach=Culture</a></h3>
    <ul>
      <li><a href="/beach-culture/#getting-here">Getting Here</a></li>
      <li><a href="/beach-culture/events/">Events</a></li>
      <li><a href="/beach-culture/artists/">Artists</a></li>
      <li><a href="/beach-culture/#gallery-exhibitions">Gallery Exhibitions</a></li>
    </ul>
  </section>
  <section>
    <h3><a href="/">Go See Art</a></h3>
    <ul>
      <li><a href="/events/">Events</a></li>
      <li><a href="/venues/">Venues</a></li>
      <li><a href="/public-art/">Public Art</a></li>
      <li><a href="/public-art/#map">Map / Archive</a></li>
    </ul>
  </section>
  <!-- <section>
    <h3><a href="/events/">Events</a></h3>
    <ul>
      <li><a href="/art-in-the-parks/">Art in the Parks</a></li>
      <li><a href="/airport-artwalk/">Airport Artwalk</a></li>
    </ul>
  </section> -->
  <section>
    <h3><a href="/opportunities/">Opportunities</a></h3>
    <ul>
      <li><a href="/for-artists/">For Artists</a></li>
      <li><a href="/for-organizations/">For Organizations</a></li>
      <li><a href="/artist-fellows/">Artist Fellows</a></li>
    </ul>
  </section>
  <section>
    <h3><a href="/about/">About</a></h3>
    <ul>
      <li><a href="/about/#leadership">Leadership</a></li>
      <li><a href="/about/#foundation">Foundation</a></li>
      <li><a href="/about/#policy-and-planning">Policy &amp; Planning</a></li>
      <li><a href="/about/#public-art-program">Public Art Program</a></li>
      <li><a href="/arts-commission/">Arts Commission</a></li>
    </ul>
  </section>

  <section class="artsamo">
    <h2>
      <span class="artsamo-image">
        <img
          class="artsamo-image-for-clipping"
          src="https://static-artsamo.digitalservice.la/uploads/artsamo.jpg"
          width="245" height="150"
          alt="ArtSaMo" />
        <img src="/assets/images/logotype/artsamo.svg" height="284" alt="ArtSaMo" />
      </span>
      <svg
         height="0" width="0"
         xmlns="http://www.w3.org/2000/svg">
        <defs>
          <clipPath id="svgPathEmpty" clipPathUnits="objectBoundingBox">
          </clipPath>
          <clipPath id="svgPath" clipPathUnits="objectBoundingBox">
            <path d="M0.3664081,0.2861711L0.3045868,0.2960606L0.2977746,0.2726749L0.2480656,0.2806269L0.2415041,0.306152
              L0.1822075,0.3156376l0.0605579-0.183795l0.0630827-0.0100913L0.3664081,0.2861711z M0.2859148,0.2309173L0.2730464,0.1862951
              L0.2601781,0.2350345L0.2859148,0.2309173z"/>
          
          
            <path d="M0.4273476,0.5362464L0.3655262,0.546136L0.358714,0.5227502L0.3090051,0.5307021L0.3024435,0.5562273L0.243147,0.5657129
              l0.0605579-0.183795l0.0630827-0.0100913L0.4273476,0.5362464z M0.3468543,0.4809926L0.3339859,0.4363704L0.3211175,0.4851097
              L0.3468543,0.4809926z"/>
          
          
            <path d="M0.1685951,0.5657792C0.1547181,0.5785974,0.1373075,0.5856721,0.1171195,0.5889016
              C0.0969335,0.5921307,0.0737194,0.5902934,0.05,0.5764245l0.0252335-0.0469333
              c0.0161492,0.0110431,0.0388579,0.0127085,0.0464281,0.0114975C0.1292319,0.5397778,0.13453,0.5366602,0.13453,0.5316126
              c0-0.0050454-0.0063068-0.006056-0.0126157-0.0070662C0.1156054,0.523789,0.1017283,0.5214688,0.0966808,0.5205095
              c-0.0050454-0.0012123-0.0151384-0.0028786-0.02397-0.009034C0.0638792,0.5053181,0.0568122,0.4958503,0.0568122,0.4769257
              s0.0098424-0.0351342,0.0201881-0.0453702c0.0105963-0.0105267,0.0280089-0.019619,0.051223-0.0233325
              c0.0232141-0.0037135,0.0469335,0.0008183,0.0620719,0.0110144l-0.0217,0.0438433
              C0.155474,0.4535725,0.1362967,0.4515928,0.1272124,0.453046C0.1181302,0.4544988,0.1130827,0.4570731,0.1130827,0.4623733
              c0,0.0050454,0.0080756,0.0055203,0.0121124,0.0061359c0.0040368,0.0006156,0.0146351,0.0019483,0.0206913,0.0029989
              c0.0060562,0.0010485,0.020186,0.0038357,0.0290176,0.0099932c0.0088316,0.0061575,0.0164019,0.0168062,0.0164019,0.0352254
              C0.1913059,0.5348953,0.1824743,0.5527079,0.1685951,0.5657792z"/>
          
          
            <path d="M0.7034506,0.4920783L0.6474327,0.5010394L0.6454154,0.4016916L0.6227046,0.5049952L0.5735011,0.5128663
              L0.5507903,0.4168288L0.5487729,0.516822L0.4927551,0.5257832l0.010093-0.1757222l0.0731757-0.0117059l0.0219527,0.0911112
              l0.0222054-0.0981752l0.0731756-0.0117059L0.7034506,0.4920783z"/>
          
          
            <path d="M0.8553749,0.4708031c-0.0542511,0.0086786-0.094623-0.0179196-0.094623-0.0746934
              s0.0403719-0.0965412,0.094623-0.1052197C0.909626,0.2822114,0.95,0.3090619,0.95,0.3658357
              S0.909626,0.4621246,0.8553749,0.4708031z M0.8553749,0.3390869C0.8326662,0.3427196,0.8180311,0.3617133,0.8180311,0.3856854
              s0.0146351,0.0382834,0.0373439,0.0346507c0.0227107-0.003633,0.0370932-0.0225863,0.0370932-0.0465584
              C0.8924682,0.3498056,0.8780857,0.3354539,0.8553749,0.3390869z"/>
          
          
            <path d="M0.5876058,0.2507862L0.5220004,0.261281l-0.0277562-0.053595L0.4869266,0.2088566v0.0580351L0.429898,0.2760146
              V0.1019071l0.0757005-0.0121098c0.0214474-0.0034309,0.0378492-0.0022706,0.0504649,0.0045428
              C0.5686812,0.1011533,0.5775127,0.114881,0.5775127,0.1338056c0,0.0353265-0.0214493,0.0513734-0.0290176,0.0571263
              L0.5876058,0.2507862z M0.513672,0.1346812C0.5111493,0.1330674,0.5073652,0.1324093,0.5010563,0.1334186L0.4866739,0.1357193
              v0.030281l0.0143825-0.0023008C0.5073652,0.1626903,0.511402,0.1607832,0.513672,0.1586533
              C0.5164474,0.1561899,0.5199809,0.153102,0.5199809,0.1455317C0.5199809,0.1379614,0.5161968,0.1360441,0.513672,0.1346812z"/>
          
          
            <path d="M0.7958364,0.0963375l-0.0496907,0.007949v0.1211382L0.6891192,0.2345471V0.113409L0.637541,0.1216599V0.0686905
              L0.7958364,0.043368V0.0963375z"/>
          </clipPath>
        </defs>
      </svg>
    </h2>
    <p>
      <a href="https://santamonica.gov">
        <img width="100" height="100"
          src="/assets/images/city-of-santa-monica.png" 
          alt="Brought to you by the City of Santa Monica" />
      </a>
    </p>

  </section>

</footer>

<script>

(function() {

  const images = [
    {
      title: "Public art in Santa Monica",
      url: "https://static-artsamo.digitalservice.la/uploads/artsamo.jpg",
      caption: "<em>Cradle</em> by Ball-Nogues Studio / Photo by Monica Nouwens"
    },
    {
      title: "Public art in Santa Monica",
      url: "https://static-artsamo.digitalservice.la/uploads/go-see-art.jpg",
      caption: "<em>Wheels</em> by Anne Marie Karlsen"
    },
    {
      title: "Musicians at the COAST event",
      url: "https://static-artsamo.digitalservice.la/uploads/coast-band.jpg",
      caption: `<em>Superbroke</em> at <a href="https://www.santamonica.com/event/coast/">COAST</a> / Photo by Jason Abraham`
    },
    {
      title: "Musicians at the COAST event",
      url: "https://static-artsamo.digitalservice.la/uploads-optimized/coast/2048-wide/2017_Coast_Superbroke_photoby_Jason_Abraham.jpg",
      caption: `<em>Superbroke</em> at <a href="https://www.santamonica.com/event/coast/">COAST</a> / Photo by Jason Abraham`
    },
    {
      title: "Rainbow Face at the COAST event",
      url: "https://static-artsamo.digitalservice.la/uploads-optimized/coast/2048-wide/2017_Coast_RainbowFace_by_Beck+Col_photoby_Jason_Abraham (3).jpg",
      caption: `<em>Rainbow Face</em> by Beck+Col at <a href="https://www.santamonica.com/event/coast/">COAST</a> / Photo by Jason Abraham`
    },
    {
      title: "Dia De Los Muertos",
      url: "https://static-artsamo.digitalservice.la/uploads-optimized/dia-de-los-muertos/2048-wide/Dia De Los Muertos-059.jpg",
      caption: `Dia De Los Muertos`
    },
    {
      title: "Dia De Los Muertos",
      url: "https://static-artsamo.digitalservice.la/uploads-optimized/dia-de-los-muertos/2048-wide/Dia De Los Muertos-035.jpg",
      caption: `Dia De Los Muertos`
    },
    {
      title: "Dia De Los Muertos",
      url: "https://static-artsamo.digitalservice.la/uploads-optimized/dia-de-los-muertos/2048-wide/Dia De Los Muertos-063.jpg",
      caption: `Dia De Los Muertos`
    },
    {
      title: "Dia De Los Muertos",
      url: "https://static-artsamo.digitalservice.la/uploads-optimized/dia-de-los-muertos/2048-wide/Dia De Los Muertos-066.jpg",
      caption: `Dia De Los Muertos`
    }
  ]

  // https://stackoverflow.com/questions/1527803/generating-random-whole-numbers-in-javascript-in-a-specific-range#1527820
  /**
   * Returns a random integer between min (inclusive) and max (inclusive)
   * Using Math.round() will give you a non-uniform distribution!
   */
  function getRandomInt(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min;
  }

  let randomNumbers = [];

  (function() {
    const image = images[getRandomInt(0, images.length - 1)];
  
    document.querySelector(".artsamo-image-for-clipping").setAttribute("src", image.url);
  })();

})();

</script>

</body>
</html>
